<meta charset="UTF-8">
<meta name="description" content="Amazon Web Shop Stealth Checker App">
<meta name="keywords" content="amazon, stealth check, web app">
<meta name="author" content="rauta0127">
<title>Amazon Stealth Checker</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>